*{
	 font-family: 'IBM Plex Serif', serif; 
	 color: #375e31;
	 padding: 0;
	 margin: 0;
	}

 nav ol {
	 list-style-type: none;
	 width: 790px;
}

  nav ol li a {
  	 display: block;
	 padding: 10px;
}

   a {
	 color: #375e31;
     text-decoration: none;  
     font-weight: 500;  
}

 ol :hover {
  	 text-decoration: underline;
  	 background: rgba(55,94,49,0.5);
   	 color: #f7f2f2;
}

ul {
	list-style-type: none;
}

.header {
	 display: flex;
     position: auto; 
     background-image:url(header.svg); 	  
     background-size: cover; 
}

.container{
	display: flex;
	flex-direction: column;

}

.title {
	 color: #375e31;
	 font-size: 80px;
	 font-weight: 700;
	 text-shadow: 5px 6px 0px rgba(0,0,0,0.2);
	 padding-top: 50px;
	 padding-left: 50px;

}

.container div{
	padding: 20px;
}

.task-name, h3 {
	 text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	 padding: 20px;
}

.link {
	 display: block;
 	 -webkit-transition: all 0.5s ease-out;
	 display: block;
	 text-decoration: none;

	 color: #1e4218;
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 10px;
	 border-bottom-left-radius: 0;
	 background-color: rgba(230, 255, 226, 0.3); 
	 padding: 5px;
	 width: 550px;
	 
}
 .link:hover {
	 -webkit-transform: scale(1.01);
	 text-decoration: underline;
	 background: #375e31;
   	 color: #f7f2f2; 	  
}




.img-block {
	 display: block;
	 margin: auto;
	 overflow:hidden;
	 width: 1000px;
	 padding: 5px;
 	 -moz-transition: all 1s ease-out;
 	 -o-transition: all 1s ease-out;
 	 -webkit-transition: all 1s ease-out;
}

.img-block:hover {
	 -webkit-transform: scale(1.2);
 	 -moz-transform: scale(1.2);
 	 -o-transform: scale(1.2);
}
 
.img-note {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	height: 500px;

 }